<!DOCTYPE html>
<html>
<head>
  <title>Rhinobook</title>
  <%= stylesheet_link_tag    "rhinobook/application", media: "all" %>
  <%= javascript_include_tag "rhinobook/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
